<div class="container">
    <form>
        <div class="form-group">
                <label for="userinput">Your Name</label>
                <input type="user" class="form-control" id="user-name"  placeholder="enter name">
                </div>
    </form>

        
        <div class="form-group">
            <label for="question1">Do you enjoy the great outdoors?</label>
                <select class="form-control" id="question1">
                    <option value="empty"></option>
                    <option value="1">Yes.</option>
                    <option value="2">In moderation.</option>
                    <option value="3">No.</option>
                    <option value="4">VERY MUCH SO!</option>
                </select>
        </div>

        <div class="form-group">
            <label for="question2">What word best describes you?</label>
                <select class="form-control" id="question2">
                    <option value="empty"></option>
                    <option value="1">Ambitious</option>
                    <option value="2">Creative</option>
                    <option value="3">Caring</option>
                    <option value="4">Outgoing</option>
                </select>
        </div>

        <div class="form-group">
            <label for="question3">Are you an introvert or an extrovert?</label>
                <select class="form-control" id="question3">
                    <option value="empty"></option>
                    <option value="1">Introvert</option>
                    <option value="2">Extrovert</option>
                    <option value="3">Introverted Extrovert</option>
                    <option value="4">Extroverted Introvert</option>
                </select>
        </div>

        <div class="form-group">
            <label for="question4">What do you like to do on a typical Friday night?</label>
                <select class="form-control" id="question4">
                    <option value="empty"></option>
                    <option value="1">Chill at home with a book or movie.</option>
                    <option value="2">Go out to dinner with friends.</option>
                    <option value="3">I don't make plans, I just do what seems like the most fun!</option>
                    <option value="4">Pass out on the couch.</option>
                </select>
        </div>

        <div class="form-group">
            <label for="question5">How do you greet your friends?</label>
                <select class="form-control" id="question5">
                    <option value="empty"></option>
                    <option value="1">Hug them.</option>
                    <option value="2">Vaguely acknowledge them with a nod or a grunt.</option>
                    <option value="3">Politely say hello.</option>
                    <option value="4">Make sure everyone within earshot knows how excited you are to see your friend!</option>
                </select>
        </div>

        <div class="form-group">
            <label for="question6">What trait do you value most in a friend?</label>
                <select class="form-control" id="question6">
                    <option value="empty"></option>
                    <option value="1">Loyalty</option>
                    <option value="2">Amusement</option>
                    <option value="3">Intelligence</option>
                    <option value="4">Honesty</option>
                </select>
        </div>

        <div class="form-group">
            <label for="question7">Are you a morning person?</label>
                <select class="form-control" id="question7">
                    <option value="empty"></option>
                    <option value="1">Sun's up, I'm up!</option>
                    <option value="2">If you wake me up early, I will end you.</option>
                    <option value="3">Yes but only because I have to be up.</option>
                    <option value="4">I'm on a 24/7 nap schedule.</option>
                </select>
        </div>

        <div class="form-group">
            <label for="question8">Your boss tells you not to do something. How do you react?</label>
                <select class="form-control" id="question8">
                    <option value="empty"></option>
                    <option value="1">I do it. I double do it. Out of spite.</option>
                    <option value="2">I obey, but only if I really have to.</option>
                    <option value="3">I do it, feel guilty, and apologize profusely.</option>
                    <option value="4">I don't do it, I crave approval!</option>
                </select>
        </div>

        <div class="form-group">
            <label for="question9">How organized are you?</label>
                <select class="form-control" id="question9">
                    <option value="empty"></option>
                    <option value="1">I can find something when I need it.</option>
                    <option value="2">A place for everything and everything in it's place.</option>
                    <option value="3">I'm a mess.</option>
                    <option value="4">Organized chaos.</option>
                </select>
        </div>

        <div class="form-group">
            <label for="question10">How do you feel about being a caretaker?</label>
                <select class="form-control" id="question10">
                    <option value="empty"></option>
                    <option value="1">It's my life's calling!</option>
                    <option value="2">I'd rather not.</option>
                    <option value="3">I love feeling needed.</option>
                    <option value="4">I like an evenly balanced relationship.</option>
                </select>
        </div>
    </form>

    
      <!-- The Modal -->
      <div class="modal" id="pet-modal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Your result!</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

      
            <!-- Modal body -->
            <div class="modal-body">
                    <div>
                        <h2 id="pet-name"></h2>
                    </div>

                    <div>
                        <img id="pet-pic" src="#" width="250px">
                    </div>
                    
                    <div>
                        <p id="pet-desc"></p>
                    </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>

<!-- submit button -->
    <div class="text-center">
          <button id="submit-btn" type="submit" class="btn btn-success btn-lg">Submit</button>
                </div>
</div>

<!-- js -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
   $("#submit-btn").on("click", function(event) {
        event.preventDefault();

        console.log("click");

        var valid = true;

        if ($("#name").val() === "") {
            valid = false;
        } else if ($("#question1").val() === "empty" || $("#question2").val() === "empty" || $("#question3").val() === "empty" || $("#question4").val() === "empty" || $("#question5").val() === "empty" || $("#question6").val() === "empty" || $("#question7").val() === "empty" || $("#question8").val() === "empty" || $("#question9").val() === "empty" || $("#question10").val() === "empty") {
            valid = false;
        }

        if (valid === true) {
        var userInput = {
            name: $("#user-name").val(),
            scores: [
                $('#question1').val(),
                $('#question2').val(),
                $('#question3').val(),
                $('#question4').val(),
                $('#question5').val(),
                $('#question6').val(),
                $('#question7').val(),
                $('#question8').val(),
                $('#question9').val(),
                $('#question10').val()
            ]
        };
       
       var jsonUserInput = JSON.stringify(userInput);

        var currentURL = window.location.origin;

        $.post(currentURL + "/api/quiz", jsonUserInput)
            .done(function(data) {
            $("#pet-modal").modal("show");
            $("#pet-name").append(data.petName);
            $("#pet-pic").attr("src", data.petPic);
            $("#pet-desc").append(data.petDesc);
            

            console.log(data);
        });
    } else {
        alert("Please fill in all required forms!");
    }
    });
</script>